name: Sync Garmin activity name to Strava
on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * *'  # UCT+8 03:00
jobs:
  sync_activity:
    strategy:
      matrix:
        user: [edward, joey]
        include:
          - user: edward
            garmin_token_name: GARMIN_TOKENS_BASE64
            strava_token_name: EDWARD_STRAVA_TOKEN_BASE64
            strava_client_id_name: EDWARD_STRAVA_CLIENT_ID
            strava_client_secret_name: EDWARD_STRAVA_CLIENT_SECRET
            run_cmd_args: --sync-ignore-file ./syncginore.txt
          - user: joey
            garmin_token_name: JOEY_GARMIN_TOKEN_BASE64
            strava_token_name: JOEY_STRAVA_TOKEN_BASE64
            strava_client_id_name: JOEY_STRAVA_CLIENT_ID
            strava_client_secret_name: JOEY_STRAVA_CLIENT_SECRET
            run_cmd_args: ""

    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: ./garmin_strava_name_syncer
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Decode secret and create Strava token to file
        env:
          STRAVA_TOKEN_BASE64: ${{ secrets[matrix.strava_token_name] }}
        run: |
          echo "${{ env.STRAVA_TOKEN_BASE64 }}" | base64 --decode > strava_token.json
      - name: Run name syncer
        env:
          GARMIN_TOKENS_BASE64: ${{ secrets[matrix.garmin_token_name] }}
          STRAVA_CLIENT_ID: ${{ secrets[matrix.strava_client_id_name] }}
          STRAVA_CLIENT_SECRET: ${{ secrets[matrix.strava_client_secret_name] }}
          SILENCE_TOKEN_WARNINGS: "true"
        run: |
          echo "Syncing '${{matrix.user}}' activity to Strava"
          ./name_syncer.py ${{matrix.run_cmd_args}}